{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
        {% block title %}
        {{ title }}
        {% endblock title %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    {% endblock css %}

    {% block js %}
    {% endblock js %}
    
</head>

<body>
    <div class = "container">
	{% block div_main %}
	
	
        
	{% endblock div_main %}
                    <div class="wrap-top">
					<div class="wrap-logo">	
						<div class="h-log">Historical</div>
						<div class="g-log">GAMES</div>
					</div>	
					<div class="wrap-phone">
						<img class = "img_tel" src="{% static 'img/тел.png' %}" alt="img">
						<p class = "p-tel">  +123 456 7890</p>
                    </div>
					<div class="wrap-email">
						<img class = "img_email" src="{% static 'img/email.png'%}" alt="img">
						<p class = "p-email"> info@example.com </p>
                    </div> 
					<form action="#" class="wrap-search">
						<input class = "input-search" type="text" name="search" placeholder="Search">
						<button class ="wrap-batton" type="button">
						<img class = "img_search" src="{% static 'img/поиск_иконка@2x.png' %}" alt="img">
						</button></form>
				</div>
				</div>
    
    
    {% block menu %}
    {% endblock menu %}
   

{% block content %}
{% endblock content %}
{% block contant %}
{% endblock contant %}
    
	
				</div>
			</div>


{% block footer %}
<footer>
&copy; 2017 Historical Games. All rights reserved | Design by 
<span class="red">&nbsp; W3layouts</span>
</footer>
{% endblock footer %}
</div>
</body>
</html>