{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
        {% block title %}
        {{ title }}
        {% endblock title %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    {% endblock css %}

    {% block js %}
    {% endblock js %}
    
</head>

<body>
    <div class = "container">
	{% block div_main %}
	
	{% endblock div_main %}
        <header>
            <div class = "search-contacts">
                    <div class="wrap-top">
					<div class="wrap-logo">	
						<div class="h-log">Historical</div>
						<div class="g-log">GAMES</div>
					</div>	
					<div class="wrap-phone">
						<img class = "img_tel" src="{% static 'img/тел.png' %}" alt="img">
						<p class = "p-tel">  +123 456 7890</p>
                    </div>
					<div class="wrap-email">
						<img class = "img_email" src="{% static 'img/email.png'%}" alt="img">
						<p class = "p-email"> info@example.com </p>
                    </div> 
					<form action="#" class="wrap-search">
						<input class = "input-search" type="text" name="search" placeholder="Search">
						<button class ="wrap-batton" type="button">
						<img class = "img_search" src="{% static 'img/поиск_иконка@2x.png' %}" alt="img">
						</button></form>
				</div>
				</div>
    
    
    {% block menu %}
    {% endblock menu %}
   

{% block content %}
{% endblock content %}
{% block contant %}
{% endblock contant %}
    
<div class ="contact-c">
	<div class="titele-contact-c">
    <h3>Contact Us</h3>
				</div>
					<div class="col-contact">
						<div class="left-contact">
							<h4>Get in touch with us</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets 
							containing Lorem Ipsum passages sed do, At vero eos et accusamus et 
							iusto odio digs qui blanditiis</p>

							<p>Leningradsky AVE 39, BLDG 79<br>
							MOSCOW 125167, Russia</p>

							<p>Telephone : +00 111 222 3333</p>

							<p>FAX : +1 888 888 4444</p>

							<p>Email : <span>mail@example.com</span></p>
						</div>
						<div class="right-contact">
						  	<form action="#" class="cont">
									<input class = "input-cont" type="text" name="name" placeholder="Name">
									<input class = "input-cont" type="text" name="email" placeholder="Email">
									<textarea rows="10" class = "input-cont2" name="message" placeholder="Massege"></textarea> 
									<button class ="cont-batton" type="button">
									SUBMIT
									</button>
							</form>
						</div>
					</div>
				</div>
			</div>

	<div class="wrap-map">
	<div class ="title-map">
  
    <h3 class="title-map2">Route Map</h3>
				</div>
				<div class="map">
					<iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4485.540029610447!2d37.53676158795843!3d55.79723133456141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0af2d5e3f%3A0xa77899d557548e3a!2sMail.Ru%20Group!5e0!3m2!1sru!2sru!4v1593362270862!5m2!1sru!2sru" width="970" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				
					
				</div>
			</div>


{% block footer %}
<footer>
&copy; 2017 Historical Games. All rights reserved | Design by 
<span class="red">&nbsp; W3layouts</span>
</footer>
{% endblock footer %}
</div>
</body>
</html>