{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block div_main %}
	<div  class = "main-contacts" >
	 <header>
            <div class = "search-contacts">
{% endblock div_main %}

{% block menu %}
				{% include 'mainapp/includes/inc_menu.html'%}
{% endblock menu %}
{% block content %}
				 <div class="hr-c"></div>
				</header>
			
		
			</div>
			<div class="wrap-contact-c">
				<div class ="contact-c">
					<div class="titele-contact-c">
{% include 'mainapp/includes/inc_contact.html'%}

			<div class="wrap-map">
				<div class ="title-map">
				  	<h3 class="title-map2">Route Map</h3>
				</div>
				<div class="map">
					<iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4485.540029610447!2d37.53676158795843!3d55.79723133456141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0af2d5e3f%3A0xa77899d557548e3a!2sMail.Ru%20Group!5e0!3m2!1sru!2sru!4v1593362270862!5m2!1sru!2sru" width="970" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				
{% endblock content %}
