{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block div_main %}
			<div  class = "main-contacts" >
			 <header>
            <div class = "search-contacts">
{% endblock div_main %}
{% block menu %}
				<div class = "menu">
					<ul>
						<li class="menu-list"> <a class="menu-link-active-c" href ="index.html"> Home</a></li>
						<li class="menu-list"> <a class="menu-link-c" href ="#"> About</a></li>
						<li class="menu-list"> <a class="menu-link-c" href ="#"> Service</a></li>
						<li class="menu-list"> <a class="menu-link-c" href ="catalog.html"> Gallery</a></li>
						<li class="menu-list"> <a class="menu-link-c" href ="#"> News</a></li>
						<li class="menu-list"> <a class="menu-link-c" href ="#"> Team</a></li>
						<li class="menu-list"> <a class="menu-link-c" href ="contacts.html"> Contact Us</a></li>
					</ul>
				</div>
 {% endblock menu %}
 {% block content %}
				<div class="hr-c"></div>
			</header>



			</div>





<div class="wrap-product">
	<div class="product">
		<div class="left-product">
			<div class="main-img">
				<img class="main-img-w" src="{% static 'img/product/main-img.png' %}" alt="img">
			</div>
			<div class="wrap-secondary-img">
				<div class="img-product-active">
					<a href="#"><img class="img-active-p" src="{% static 'img/product/secondary-img-1.png' %}" alt="img"></a>
				</div>	
				<div class="img-product">
					<a href="#"><img class="" src="{% static 'img/product/secondary-img-2.png' %}" alt="img"></a>
				</div>
				<div class="img-product">
					<a href="#"><img class="" src="{% static 'img/product/secondary-img-3.png' %}" alt="img"></a>
				</div>	
				<div class="img-product">
					<a href="#"><img class="" src="{% static 'img/product/secondary-img-4.png' %}" alt="img"></a>
				</div>	
			</div>

		</div>
		<div class="right-product">
			<div class="title-product">
				Assasin’s Creed:
			</div>
			<div class="sub-title-product">
				Rogue
			</div>
			<div class="price-product">
				$29.99
			</div>
			<div class="button-product">
				<form action="#">
					<button class ="buy-product" type="button">
									Buy
					</button>
							</form>
			</div>
			<div class="text-product">
				<p>The plot is set in a fictional history of real world events and follows the centuries-old struggle between the Assassins, who fight for peace with free will, and the Templars, who desire peace through control. The story is set in the mid-18th century during the Seven Years' War, and follows Shay Patrick Cormac, an Assassin-turned-Templar who hunts down former members of his Brotherhood after being betrayed by them. Gameplay in Rogue is very similar to that of Black Flag with a mixture of ship-based naval exploration and third-person land-based exploration with some new features.</p>
			</div>
		</div>
	</div>
</div>



<div class="wrap-games">
	<div class="games">
		<div class="title-games">
			Similar games
		</div>
		<div class="list-games">
			<div class="div-gallery-p">
				<img class="img_gallery-p" src="{% static 'img/product/1.png' %}" alt="img">
				<form action="#" class="form-buy-p"> 
				<div class="discribe-p">MIDDLE-EARTH:<br>Shadow Of War</div> 
				<button class="buy-button" type="button">Buy </button>
				</form>
			</div>
						<div class="div-gallery-p">
				<img class="img_gallery-p" src="{% static 'img/product/2.png' %}" alt="img">
				<form action="#" class="form-buy-p"> 
				<div class="discribe">DISHONORED 2</div> 
				<button class="buy-button" type="button">Buy </button>
				</form>
			</div>
						<div class="div-gallery-p">
				<img class="img_gallery-p" src="{% static 'img/product/3.png' %}" alt="img">
				<form action="#" class="form-buy-p"> 
				<div class="discribe">THIEF</div> 
				<button class="buy-button" type="button">Buy </button>
				</form>
			</div>
						<div class="div-gallery-p">
				<img class="img_gallery-p" src="{% static 'img/product/4.png' %}" alt="img">
				<form action="#" class="form-buy-p"> 
				<div class="discribe">HITMAN</div> 
				<button class="buy-button" type="button">Buy </button>
				</form>
			</div>
		</div>
	</div>
</div>


			<div class="wrap-contact-p">
				<div class ="contact-c">
					<div class="titele-contact-c">
				  		<h3>Contact Us</h3>
					</div>
					<div class="col-contact">
						<div class="left-contact">
							<h4>Get in touch with us</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets 
							containing Lorem Ipsum passages sed do, At vero eos et accusamus et 
							iusto odio digs qui blanditiis</p>

							<p>Leningradsky AVE 39, BLDG 79<br>
							MOSCOW 125167, Russia</p>

							<p>Telephone : +00 111 222 3333</p>

							<p>FAX : +1 888 888 4444</p>

							<p>Email : <span>mail@example.com</span></p>
						</div>
						<div class="right-contact">
						  	<form action="#" class="cont">
									<input class = "input-cont" type="text" name="name" placeholder="Name">
									<input class = "input-cont" type="text" name="email" placeholder="Email">
									<textarea rows="10" class = "input-cont2" name="message" placeholder="Massege"></textarea> 
									<button class ="cont-batton" type="button">
									SUBMIT
									</button>
							</form>
						</div>
					</div>
				</div>
			</div>



			<div class="wrap-map">
				<div class ="title-map">
				  	<h3 class="title-map2">Route Map</h3>
				</div>
				<div class="map">
					<iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4485.540029610447!2d37.53676158795843!3d55.79723133456141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0af2d5e3f%3A0xa77899d557548e3a!2sMail.Ru%20Group!5e0!3m2!1sru!2sru!4v1593362270862!5m2!1sru!2sru" width="970" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				
{% endblock content %}					
				</div>
			</div>

